
.text {

  margin: 150px 0 0 0;
  padding: 10px;
}

.jumbotron {
  background-color: # ;
}
h2, p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
}

p {
  margin: auto;
  text-align: center;
}
