body {
  background-color: #2E4159;
}
.text {
  margin: 150px 0 0 0;
  padding: 10px;
}

.about-jumbotron {
  background-color: #2E4159;
  color: white;
}
h2, p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2em;
}

p {
  color: white;
  margin: auto;
  padding: inherit;
  text-align: center;
}
