h2, p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
}

.head-color {
  background-color: #0F8DBF;
  display: block;
  margin: auto;
}

.card-img-top {
  height: 50%;
  width: 100%;
}
.card {
  margin-top: 60px;
}

.card-body {
  margin: 10px 10px
}
.card-img-top {
  margin: auto;
}

.bottom {
  background-color: #071A40;
  margin: auto;
  padding: auto;
  margin-top: 50px;
}
